.Cabecera {
    background-color: rgb(200, 183, 247);
    border-radius: 18px;
    text-align: center;

}

.formulario {
    position: absolute;
    left: 50%;
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    background-color: rgb(252, 205, 178);
    text-align: right;
    margin-left: -150px;
}

.formulario h2 {
    text-align: center;
}

.formulario form {
    background-color: rgb(215, 227, 255);
    padding: 10px;
    border-style: solid;
    border-color: rgb(177, 181, 231);
}

input {
    padding: 0px;
    margin-top: 5px;
}

.formulario form #submit {
    width: 110px;
    margin-right: 80px;
} 